@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-jetbrains-mono);
  --font-display: var(--font-manrope);

  --color-primary: #1d1dd7;
  --color-deep-navy: #0A192F;
  --color-slate-gray: #64748B;
  --color-background-dark: #0A192F;
  --color-border-dark: #233554;

  --color-background-light: #f6f6f8;
  --color-surface-dark: #112240;
  --color-blueprint-border: #cbd5e1;

  --color-primary-hover: #1e40af;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}